<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
    <app-my-new-component></app-my-new-component>
    <p>
        {{myObject.location}}
    </p>

</div>
<!-- Iteration -->
<ul>
    <li *ngFor="let arr of myArr">
        {{ arr }}
    </li>
</ul>

<!-- Conditions -->
<ul>
    <li *ngIf="smth == 'something'; else otherTmpl">
        Yeah, I exist!
    </li>
</ul>
<ng-template #otherTmpl>No, I do!</ng-template>

<div *ngIf="smth2 == 'something'; then tmpl1 else tmpl2"></div>
<ng-template #tmpl1>Template 1</ng-template>
<ng-template #tmpl2>Template 2</ng-template>


<!-- Property Binding -->
<!-- Interpolation (only strings) -->
<img src="{{ angularLogo }}">
<!-- Binding -->
<img [src]="angularLogo">
<!-- prepend bind -->
<img bind-src="angularLogo">

<button [disabled]="buttonStatus">My Button</button>

<!-- Events -->
<button (click)="myEvent($event)">Click me!</button>


<!-- Styling -->
<h2 [class]="title2Class">Hello</h2>

<h2 [class.red-title]="title3Class">Hello</h2>

<h2 [ngClass]="titleClasses">Hello</h2>


<!-- Style Binding -->

<h2 [style.color]="titleStyle">Hello</h2>

<h2 [style.color]="title2Style ? 'yellow' : 'pink'">Hello</h2>


<h2 [ngStyle]="titleStyles">Hello</h2>