h1 {
    text-decoration: underline;
}

.red-title {
    color: red;
}

.large-title {
    font-size: 3em;
}

p {
    width: 200px;
    text-align: center;
    background: lightgray;
    padding: 20px;
}